* {
  margin: 0;
  padding: 0;
  border: border-box;
  font-family: 'Dosis', sans-serif;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/rps.jpg');
    background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
}
.header {
  text-align: center;
  padding: 25px 0 25px 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: auto;
  min-height: 400px;
  margin: 0px 40px;
}

/* FONTS */

* {
  color: white;
}

h1 {
  text-decoration: underline;
  font-weight: 300;
  font-size: 40px;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 30px 0 0;
  border-right: 1px solid white;
  flex: 3;
}

.main img {
  height: 200px;
  width: 200px;
  border-radius: 15%;
  border: 2px solid black;
}

#imgchoices {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#btnchoices {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  border-radius: 10%;
  margin: 20px;
  padding: 10px 20px;
  background: white;
  color: black;
  font-weight: 600;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

#results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
